*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI', sans-serif;
}

body{
  background:#0f0f0f;
  color:#fff;
}

.navbar{
  position:fixed;
  width:100%;
  top:0;
  display:flex;
  justify-content:space-between;
  padding:20px 50px;
  background:#000;
  z-index:1000;
}

.navbar a{
  color:#fff;
  margin-left:20px;
  text-decoration:none;
  transition:.3s;
}

.navbar a:hover{
  color:#00c3ff;
}

.hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:linear-gradient(135deg,#141e30,#243b55);
  padding-top:80px;
}

.btn-primary{
  display:inline-block;
  margin-top:20px;
  padding:12px 25px;
  background:#00c3ff;
  color:#000;
  border-radius:30px;
  text-decoration:none;
  font-weight:bold;
}

.servicios,.trabajos,.contacto,.certificados{
  padding:100px 20px;
  text-align:center;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  margin-top:40px;
}

.card{
  background:#1c1c1c;
  padding:30px;
  border-radius:15px;
  transition:.3s;
}

.card:hover{
  transform:translateY(-10px);
}

.galeria{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  margin-top:40px;
}

.galeria img{
  width:100%;
  border-radius:10px;
  transition:.3s;
}

.galeria img:hover{
  transform:scale(1.05);
}

/* CERTIFICADOS */

.cert-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
  margin-top:40px;
}

.cert-card{
  background:#1a1a1a;
  padding:20px;
  border-radius:15px;
  transition:.3s;
}

.cert-card img{
  width:100%;
  border-radius:10px;
  margin-bottom:15px;
}

.cert-card:hover{
  transform:translateY(-10px);
  background:#222;
}

form{
  max-width:500px;
  margin:auto;
  display:flex;
  flex-direction:column;
}

form input,form textarea{
  margin-bottom:15px;
  padding:12px;
  border:none;
  border-radius:8px;
}

form button{
  padding:12px;
  background:#00c3ff;
  border:none;
  border-radius:8px;
  font-weight:bold;
  cursor:pointer;
}

.whatsapp{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#25D366;
  color:#fff;
  padding:15px;
  border-radius:50%;
  font-size:20px;
  text-decoration:none;
}

footer{
  background:#000;
  padding:20px;
  text-align:center;
}